PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0

# Zabbix server details
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
Hostname={{ ansible_fqdn }}

Include=/etc/zabbix/zabbix_agent2.d/*.conf